@import './home.css';
@import './sobre.css';
@import './como-funciona.css';

:root {
  --color-base: #fff;
  --color-base-dark: #444444;
  --color-primary: #38558b;
  --color-secondary: #fdc143;

  --font-size-xsmall: 12px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 20px;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: var(--color-base);
  color: var(--color-base-dark);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: var(--color-base);
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-small);
  font-weight: 600;
}

header img {
  width: 280px;
}

header ul {
  display: flex;
  gap: 3rem;
}

header ul li a {
  color: var(--color-base-dark);
}

footer {
  font-size: var(--font-size-small);
  background-color: var(--color-primary);
  color: var(--color-base);
  padding: 2rem 2rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

footer img {
  width: 220px;
}

#footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer-container div:first-child {
  display: flex;
  align-items: center;
  gap: 4rem;
}

#social-media, #footer-container div:first-child ul {
  display: flex;
  gap: 2rem;
}

#social-media a img {
  width: 30px;
  height: 30px;
}

footer p {
  font-size: var(--font-size-xsmall);
  width: 100vw;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--color-base-dark);
  font-weight: 600;
}