#form-page {
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0rem 0rem 2rem 0rem;
}

#form-page form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

#form-page h1 {
  text-align: center;
  color: var(--color-primary);
  font-size: 28px;
}

#form-page form label {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-medium);
  color: var(--color-base-dark);
}

#form-page form input,
#form-page form select {
  margin-top: 0.5rem;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: var(--font-size-medium);
}

#form-page form button {
  padding: 1rem 4rem;
  font-size: var(--font-size-medium);
  background-color: var(--color-primary);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0.5rem auto;
}

#form-page form button:hover {
  background-color: #2d4370;
}
