#sobre {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0rem 0rem 2rem 0rem;
    font-size: 0.9rem;
}

#sobre-intro {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#sobre-intro h1 {
    font-size: 1.4rem;
    font-weight: 700;
}

#sobre-intro-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#sobre-intro-text span {
    font-weight: 700;
}

hr {
    width: 75%;
    margin: 0 auto;
}

#funcionamento {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#funcionamento h2 {
    font-size: 1.4rem;
    font-weight: 700;
}

#funcionamento div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#funcionamento div ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#funcionamento div ul li {
    display: flex;
    align-items: center;
    font-weight: 600;
}

#funcionamento div ul li img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

#confiar {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#confiar h2 {
    font-size: 1.4rem;
    font-weight: 700;
}